@import "tailwindcss";

:root {
  --background: #ffffff;
  --accent-color: #2fd1f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d2982d;
    --foreground: #ededed;
    --accent-color: #2fd1f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-interSans);
  font-weight: 500;
  position: relative;
}

.container {
  width: 410px;
  margin: 0 auto;
  padding: 0 24px;
  @media screen and (min-width: 768px) {
    padding: 0 34px;
    width: 768px;
  }
  @media screen and (min-width: 1440px) {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
