.nearbyPlaces {
  grid-column: 2/3;
  padding-top: 24px;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}
.placesContainer {
  display: flex;
  gap: 36px;
}

.placesListWrapper {
  width: 100%;
  padding: 20px 35px 35px;
  background-color: #dfae53cc;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    height: auto;
  }
  @media screen and (min-width: 1440px) {
    flex-wrap: nowrap;
    height: 244px;
  }
}

.placeList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.distanceText {
  font-size: 12px;
}

.namePlaceTitle {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}

.placeItem {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 16px * 1) / 2);
  }
  @media screen and (min-width: 1440px) {
    width: calc((100% - 16px * 3) / 4);
  }
}
